<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangce.mybatis.mapper.UtchangemodeMapper">
  <resultMap id="BaseResultMap" type="com.kangce.mybatis.model.Utchangemode">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="fID" jdbcType="INTEGER" property="fid" />
    <result column="mNum" jdbcType="VARCHAR" property="mnum" />
    <result column="mName" jdbcType="VARCHAR" property="mname" />
    <result column="cWord" jdbcType="VARCHAR" property="cword" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="cNum" jdbcType="VARCHAR" property="cnum" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, fID, mNum, mName, cWord, summary, cNum, status
  </sql>
  <select id="selectByExample" parameterType="com.kangce.mybatis.model.UtchangemodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from utChangeMode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from utChangeMode
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from utChangeMode
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kangce.mybatis.model.UtchangemodeExample">
    delete from utChangeMode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kangce.mybatis.model.Utchangemode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into utChangeMode (fID, mNum, mName, 
      cWord, summary, cNum, 
      status)
    values (#{fid,jdbcType=INTEGER}, #{mnum,jdbcType=VARCHAR}, #{mname,jdbcType=VARCHAR}, 
      #{cword,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{cnum,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kangce.mybatis.model.Utchangemode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into utChangeMode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fID,
      </if>
      <if test="mnum != null">
        mNum,
      </if>
      <if test="mname != null">
        mName,
      </if>
      <if test="cword != null">
        cWord,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="cnum != null">
        cNum,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="mnum != null">
        #{mnum,jdbcType=VARCHAR},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="cword != null">
        #{cword,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cnum != null">
        #{cnum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kangce.mybatis.model.UtchangemodeExample" resultType="java.lang.Integer">
    select count(*) from utChangeMode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update utChangeMode
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fid != null">
        fID = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.mnum != null">
        mNum = #{record.mnum,jdbcType=VARCHAR},
      </if>
      <if test="record.mname != null">
        mName = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.cword != null">
        cWord = #{record.cword,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.cnum != null">
        cNum = #{record.cnum,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update utChangeMode
    set ID = #{record.id,jdbcType=INTEGER},
      fID = #{record.fid,jdbcType=INTEGER},
      mNum = #{record.mnum,jdbcType=VARCHAR},
      mName = #{record.mname,jdbcType=VARCHAR},
      cWord = #{record.cword,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      cNum = #{record.cnum,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kangce.mybatis.model.Utchangemode">
    update utChangeMode
    <set>
      <if test="fid != null">
        fID = #{fid,jdbcType=INTEGER},
      </if>
      <if test="mnum != null">
        mNum = #{mnum,jdbcType=VARCHAR},
      </if>
      <if test="mname != null">
        mName = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="cword != null">
        cWord = #{cword,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cnum != null">
        cNum = #{cnum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kangce.mybatis.model.Utchangemode">
    update utChangeMode
    set fID = #{fid,jdbcType=INTEGER},
      mNum = #{mnum,jdbcType=VARCHAR},
      mName = #{mname,jdbcType=VARCHAR},
      cWord = #{cword,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      cNum = #{cnum,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>